@import url('./login.css');
@import url('./navbar.css');
@import url('./menu.css');
@import url('./dashboard.css');

@font-face {
  font-family: "SAMIMBOLD";
  src: url("../font/Samim-Bold-FD.woff") format("woff"), url("../font/Samim-Bold-FD.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SAMIM";
  src: url("../font/Samim-FD.woff") format("woff"), url("../font/Samim-FD.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

html,
body {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "SAMIM";
  overflow-x: hidden;
  background-color: #f9f9f9;
  /* height: 100%; */
}

a {
  text-decoration: none;
  outline: none;
}

.dashboard,
#root {
  margin-top: 50px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #222;
  -webkit-box-shadow: inset 0 0 0px 9999px white !important;
}

.error-boundray {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
}

.error-boundray svg {
  width: 400px;
  margin-bottom: 50px;
}

.error-boundray .zent-alert.zent-alert-style-warning {
  width: auto;
  text-align: center;
  border-radius: 10px;
}

.error-boundray .zent-alert.zent-alert-style-warning span {
  font-weight: bold;
}

.affix {
  height: 60px !important;
}

.loader-overlay {
  position: fixed;
  top: 60px;
  right: 50px;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 20;
  opacity: 1;
  visibility: visible;
  transition: all 0.2s ease;
}

.container.menu-is-open .loader-overlay {
  right: 250px;
}

.loader-overlay.disable {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}

.inline-loader {
  position: relative;
  display: inline-block;
}

.zent-notify-content {
  font-weight: bold;
}

.zent-loading-container-static .zent-page-mask {
  background: rgba(0, 0, 0, 0.1);
}

.zent-page-loading .zent-page-mask::before,
.zent-page-loading .zent-page-mask::after {
  border: 3px solid transparent;
}

.zent-page-loading .zent-page-mask::before {
  background-image: none !important;
}

.zent-page-loading .zent-page-mask::after {
  background-color: transparent;
  border-color: #fff transparent transparent;
  z-index: 20;
}

.zent-table .tfoot__page {
  float: none;
  display: block;
}

.zent-table .zent-pagination__info,
.products-table .zent-pagination__info {
  display: none;
}

.zent-pagination {
  text-align: center;
}

.zent-dialog-r-backdrop {
  background-color: rgba(0, 0, 0, 0.2);
}

.custom-sweetalert {
  padding: 50px;
}

.custom-sweetalert .zent-dialog-r-header {
  display: none;
}

.custom-sweetalert .zent-dialog-r-body {
  text-align: center;
  font-weight: bold;
  font-size: 1em;
}

.zent-sweetalert-confirm .sweet-confirm-actions {
  text-align: center;
}

.custom-width-dropdown .zent-select-popup {
  padding-right: 0;
}

.zent-select-popup .zent-select-option {
  text-align: right;
}

.custom-sweetalert .zent-btn {
  border-radius: 6px;
  width: 145px;
}

.custom-sweetalert .zent-btn span {
  font-size: 15px;
}

.custom-sweetalert .zent-sweetalert-confirm-btn-cancel {
  border-color: transparent;
  background-color: #efefef;
  color: #444;
}

.custom-sweetalert .zent-sweetalert-confirm-btn-cancel:hover {
  opacity: 0.7;
}

.zent-table-container {
  margin-bottom: 0;
}

.zent-sweetalert-confirm .zent-btn {
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  font-size: 15px;
}

.zent-sweetalert-confirm .zent-btn+.zent-btn {
  margin-left: 0;
  margin-right: 10px;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #eee !important;
}

.container {
  display: block;
  min-height: 100%;
  padding: 25px 0;
  margin: 0 50px;
}

.container .page-title {
  font-family: "SAMIMBOLD";
  margin-bottom: 20px;
}

.container .zent-breadcrumb {
  background-color: #fff;
  padding: 15px;
  border-radius: 4px;
}

.container .zent-breadcrumb a,
.container .zent-breadcrumb span {
  font-size: 13px;
}

.container .zent-search-input .zent-input-wrapper {
  height: 40px;
  line-height: 46px;
}

.container .zent-search-input .zent-input-wrapper .zent-input {
  border-radius: 4px;
  border-color: #e3e9f3;
}

.container .zent-search-input .zenticon-search {
  color: #999;
}

.zent-table-container .cell__child-container {
  text-align: center;
}

.zent-table .cell .select-check {
  left: auto;
  right: 10px;
}

.zent-table .zent-checkbox-wrap {
  margin-right: 0;
}

.zent-page-loading .zent-page-mask::after {
  border-color: #444 transparent transparent;
}

.adviser-tabel .cell:last-child .cell__child-container {
  text-align: center;
}

.custome-select-input {
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  border-color: #e3e9f3;
  display: inline-block;
  flex: 1 1;
  min-width: 80px;
  height: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  margin: 0;
  color: #333;
  font-size: 12px;
  box-shadow: none;
  transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 100%;
  outline: none;
  position: relative;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKCAMAAAC38k/IAAAAM1BMVEUAAAAzMzMzMzMzMzMzMzMzMzM0NDQ0NDQ1NTU1NTU9PT1VVVU0NDQzMzMzMzM1NTUzMzOoQ7gOAAAAEHRSTlMA99vkxpd9STUhCgPOzGhlqqcGJgAAAEBJREFUCNdFy8kRwCAMwEDZ3JDD/VebCXhgf3qIR83pi9gmXCduyokCyVwCuvrfAarMuzLlPzLLiGZx4FoIDeADc4gEoYNfTDsAAAAASUVORK5CYII=') no-repeat 10px center;
  background-size: 6px;
}

.custome-select-input:active,
.custome-select-input:focus {
  box-shadow: 0 0 5px #bdf;
  border: 1px solid #38f;
  transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.custome-auto-input {
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  border: 1px solid #e3e9f3;
  display: inline-block;
  flex: 1 1;
  min-width: 80px;
  box-sizing: border-box;
  padding: 0 10px;
  margin: 0;
  color: #333;
  font-size: 12px;
  box-shadow: none;
  transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  appearance: none;
  background-color: transparent;
  width: 100%;
  outline: none;
  position: relative;
}

.custome-auto-input:active,
.custome-auto-input:focus {
  box-shadow: 0 0 5px #bdf;
  border: 1px solid #38f;
  transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.autocomplete-result {
  position: absolute;
  z-index: 10;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #e3e9f3;
  left: 0;
  right: 0;
  top: 45px;
  max-height: 250px;
  overflow: auto;
  box-shadow: 0 2px 4px 0 #e3e9f3;
}

.autocomplete-result div {
  padding: 5px 10px;
  font-size: 14px;
  border-bottom: 1px solid #e3e9f3;
  color: #333;
  cursor: pointer;
  transition: all .3s ease;
}

.autocomplete-result div:hover {
  background-color: #eee;
  transition: all .3s ease;
}

.autocomplete-result div:last-child {
  border-bottom: 0;
}

.new-row {
  background-color: #f5eeb0;
}

.calendarContainer .heading>button:first-child {
  width: auto;
}

.calendarContainer .selected button,
.calendarContainer .selected button:hover,
.calendarContainer .selected button:active,
.calendarContainer .selected button:focus {
  background-color: #38f;
}

.datepicker-input {
  border: 1px solid #e3e9f3;
  border-radius: 4px;
  box-shadow: none;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 5px 20px 5px 10px;
  outline: none;
  width: 80px;
  margin-left: 5px;
}

.react-autosuggest__container {
  position: relative;
  display: flex;
}

.react-autosuggest__input {
  width: 100%;
  padding: 10px 20px;
  font-weight: 300;
  font-size: 13px;
  border: 1px solid #e3e9f3;
  border-radius: 4px;
}

.react-autosuggest__input:focus,
.react-autosuggest__input:active {
  box-shadow: 0 0 5px #bdf;
  border: 1px solid #38f;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 100%;
  max-height: 300px;
  border: 1px solid #e3e9f3;
  background-color: #fff;
  font-weight: 300;
  font-size: 13px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
  overflow: auto;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

@media print {

  #root,
  .zent-btn {
    display: none;
  }
}